.dialog-class {
    padding: 0px;
    overflow-y: hidden;
    resize: vertical;
    font-family: Chicago_12;
    justify-content: center;
    align-content: center;
}

.files-div {
    overflow-y: hidden;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-content: center;
    padding: 10px;
}