.hbox {
    display: flex;
    flex-direction: row;
}

.vbox {
    display: flex;
    flex-direction: column;
}

#biggest.vbox {
    gap: 5px;
    /* width: calc(100vw - 16px); */
    width: 100%;
    height: calc(100vh - 16px);
}

/* the bottom two windows */
#track-time {
    /* width: calc(100vw - 16px); */
    width: 100%;
    gap: 5px;

    flex-grow: 1;
    display: flex;
}

.window#button-bar {
    display: flex;
    height: 6em;
    margin: 0px;

}

.window#tracks {
    display: flex;
    margin: 0px;
    width: 15vw;
    max-width: none;
    min-width: 0px;
    overflow: hidden;

    resize: horizontal;
}

.window#timeline {
    /* display: flex; */
    margin: 0px;
    position: relative;
    flex-grow: 4;
    flex-direction: column;
    overflow-y: auto;
    max-height: 565px;
}

#expanders {
    display: inline-block;
}

.labels-container {
    height: 22px;
}

.segment-annotation-container {
    height: 0px;
    visibility: hidden;
}

.segment-annotation-input0,
.segment-annotation-input1,
.segment-annotation-input2 {
    position: absolute;
    pointer-events: auto;
    height: 50px;
    font-size: 12px;
    text-align: left;
    padding: 0px;
    border-radius: 1px;
    border-color: black;
    resize: none;
}

.region-label-input0,
.region-label-input1,
.region-label-input2 {
    position: absolute;
    pointer-events: auto;
    height: 20px;
    font-size: 24px;
    text-align: center;
    padding: 0px;
    border-radius: 1px;
    border-color: black;
}

/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when hovering */
.dropdown:hover .dropdown-content {
    display: block;
}

#marker-dialog-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#marker-dialog-note {
    height: 100px;
    resize: none;
}