.hbox {
    display: flex;
    flex-direction: row;
}

.vbox {
    display: flex;
    flex-direction: column;
}

#biggest.vbox {
    gap: 5px;
    /* width: calc(100vw - 16px); */
    width: 100%;
    height: calc(100vh - 16px);
}

/* the bottom two windows */
#mod-time.hbox {
    /* width: calc(100vw - 16px); */
    width: 100%;
    gap: 5px;

    flex-grow: 1;
}

.window#button-bar {
    display: flex;
    height: 6em;
    margin: 0px;

}

.window#modifiers {
    display: flex;
    margin: 0px;
    width: 100vw;
    max-width: fit-content;
    min-width: 0px;
    overflow: hidden;
}

.window#timeline {
    display: flex;
    margin: 0px;
    position: relative;
    flex-grow: 4;
    flex-direction: column;
}

#expanders {
    display: inline-block;
}

.labels-container {
    height: 50px;
}

.region-label-input0 {
    position: absolute;
    pointer-events: auto;
    height: 20px;
    font-size: 24px;
    text-align: center;
}

.region-label-input1 {
    position: absolute;
    pointer-events: auto;
    height: 20px;
    font-size: 24px;
    text-align: center;
}

.region-label-input2 {
    position: absolute;
    pointer-events: auto;
    height: 20px;
    font-size: 24px;
    text-align: center;
}



/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when hovering */
.dropdown:hover .dropdown-content {
    display: block;
}