.hbox {
    display: flex;
    flex-direction: row;
}

.vbox {
    display: flex;
    flex-direction: column;
}

#biggest.vbox {
    gap: 5px;
    /* width: calc(100vw - 16px); */
    width: 100%;
    height: calc(100vh - 16px);
}

/* the bottom two windows */
#mod-time.hbox {
    /* width: calc(100vw - 16px); */
    width: 100%;
    gap: 5px;

    flex-grow: 1;
}

.window#button-bar {
    display: flex;
    height: 6em;
    margin: 0px;

}

.window#modifiers {
    display: flex;
    margin: 0px;

    flex-grow: 1;
    max-width: fit-content;
}

.window#timeline {
    display: flex;
    margin: 0px;

    flex-grow: 4;
}


/* Collapse buttons */
.close#mod {
    display: flex;
}

.close#but::onhover {
    display: flex;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}