.tooltip {
    position: relative;
    display: inline-block;
    overflow: visible;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    overflow: visible;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: -5px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.9rem;
    font-weight: lighter;
    width: 100%;
}

.tooltip .tooltiptext::after {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}