.hbox {
    display: flex;
    flex-direction: row;
}

.vbox {
    display: flex;
    flex-direction: column;
}

/* make this tied to the master vbox */
#biggest.vbox {
    gap: 5px;
    /* width: calc(100vw - 16px); */
    width: 100%;
    height: calc(100vh - 16px);
}

/* make this tied to the bottom two windows */
#mod-time.hbox {
    /* width: calc(100vw - 16px); */
    width: 100%;
    gap: 5px;

    flex-grow: 1;
}

.window#button-bar {
    display: flex;
    height: 6em;
    margin: 0px;

}

.window#modifiers {
    display: flex;
    margin: 0px;

    flex-grow: 1;
    max-width: fit-content;
}

.window#timeline {
    display: flex;
    margin: 0px;

    flex-grow: 4;
}